 body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.header{
    display: center;
    text-align:center;
    border: 2px solid lightcoral;
}
.contenedor{
    background-color: rgb(57, 240, 247);
    color: red;
}
.menu__link{
    background-color: rgb(1, 0, 10);
    color: red;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    height: 30px;
    width: 270px;
    font-size: 20px;
    font-weight: bold;
    overflow: auto;
    border-radius: 8px;
}
.menu__link:hover {
    background: rgb(250, 4, 45);
    border-radius: 8px;
}
.baner{
    font-family: 'Open Sans', sans-serif;
}
.contentAscDesc{
    background-color: rgb(1, 0, 10);
    color: red;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.buttonOrderAsc{
    font-weight: bold;
}
.buttonOrderDesc{
    font-weight: bold;
}
.center{
    display:block;
    margin:auto;
    border: 2px solid lightcoral;
}
  .pokemonCard {
    display: inline-block;
    width: 200px;
    height: 100px;
    padding: 1em 3px 30px 5px;
    border: 1px solid blue; 
    background-color: solid black;
    overflow: auto;
    color: white;
    font-weight: bold;
  }
  .contenedor{
    float: left;
  }
  .column {
    width: 25%;
  }
  
  /* Left and right column */
  .columnSide {
    width: 50%;
  }